{% extends 'base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block body %}

<div class="container mt-5">
<div class="parent">
    <h1>Контакты</h1>
    <br>
    <h4>Телефон:</h4>
    <br>
    <h5>+8(800)555-35-35</h5>
    <br>
    <h4>Адрес:</h4>
    <br>
    <h5>г. Москва, Кронштадтский бульвар, 11</h5>
    <h4>Время работы:</h4>
    <br>
    <h5>пн-пт с 8:00 до 23:00</h5>
    <h5>сб с 8:00 до 22:00</h5>
    <h5>Последний четверг каждого месяца - санитарный день!</h5>
</div>
</div>
{% endblock %}